// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reviews-showpage{
  // background: red;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;

  h1{
    font-size: 30px;
    font-family: sans;
    font-weight: 700;

  }

  img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .review {
    display: grid;
    grid-gap: 20px;

    .reviewer-info{
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
    }
  }
}
