.main-nav{
    display: grid;
    border-bottom: 1px solid lightgrey;
    grid-template-columns: 1fr 1fr;
    grid-gap: 120px;

    .left-nav {
      display: flex;
      justify-content: flex-start;

      .search_grid{
        // width: 100%;
        width: 500px;
      }

      img{
        border-radius: 50%;
        width: 70px;
        height: 70px;
        padding: 8px;
        margin-right: 30px;
      }

    }
    
    .right-nav button{
      display: block;
      padding: 0.1rem;
      width: 100px;
      margin-top: 10px;
      font-weight: 800;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      box-shadow: var(--shadow);
      height: 50px;

    }


    .right-nav button:hover{
      text-decoration: underline;
    }

    .right-nav ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      padding: 0;
      margin-right: 60px;
      align-items: center;

    }

    .right-nav{
      display: flex;
      justify-content: space-between;

      img{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        align-self: center;

      }

      p{
        font-size: 18px;
        text-shadow: $shadow;

      }

    }


    .header-name{
      padding: 15px;
      font-family: $open-sans;
      font-size: 20px;
      margin-top: 18px;
    }

    .fas {
      margin-right: 15px;
    }

    .geo-search{
      display: flex;
      border: 1px solid lightgrey;
      padding: 5px 20px;
      width: 400px;
      box-shadow: $shadow;
      margin-left: 20px;
    }
}
