$serif: georgia,
"times new roman",
times,
serif;
$sans-serif: arial,
helvetica,
sans-serif;

$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto_con: 'Roboto Condensed', sans-serif;
$do_hye: 'Do Hyeon', sans-serif;
$kirang: 'Kirang Haerang', cursive;
$medieval: 'MedievalSharp', cursive;
$playfair: 'Playfair Display', serif;
