.user-pane{
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'top'
    'main-container';

    .main-container{
        grid-area: main-container;
        display: flex;
        justify-content: space-between;


      .right-half{

        .map-container{
          width: 500px;
          height: 600px;
          // Had to add !important because position attr. was being overwritten by component
          position: sticky !important;
          top: 0;

        }
      }
    }

    .top {
      grid-area: top;

      .header-transitions{
        display: grid;
        grid-gap: 20px;
        margin-bottom: 100px;
        grid-template-areas:
          'spots-header spots-header'
          'homes-title homes-title'

      }

      .homes-title {
        grid-area: homes-title;
        text-align: center;
        margin-bottom: 0;
        opacity: 0;
        animation-name: homes;
        animation-duration: 1s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        transition-property: transform;

        h1 {
          color: rgb(72, 72, 72);
          font-size: 50px; 
        }
      }

      @keyframes homes {
          0% {opacity: 0}
          100% {opacity: 1}
        }


      .spots-header{
        grid-area: spots-header;
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        width: 100%;

        h1{
          font-size: 40px;
          color: dimgrey;

        }

        h2{
          font-size: 30px;
          color: black;
        }

        .photo{
          line-height: 1.4;
          text-align: center;
          padding: 30px;

        }

        .left-photo{
          opacity: 0;
          animation-name: left-photo;
          animation-duration: 2s;
          animation-delay: 1s;
          animation-fill-mode: forwards;
          transition-property: transform;

        }

        .right-photo{
          opacity: 0;
          animation-name: right-photo;
          animation-duration: 2s;
          animation-delay: 2s;
          animation-fill-mode: forwards;
          transition-property: transform;
        }

        @keyframes left-photo {
          0% {opacity: 0}
          100% {opacity: 1}
        }
        
        @keyframes right-photo {
          0% {opacity: 0}
          100% {opacity: 1}
        }
        
        img{
          max-width: 100%;
          height: 400px;
          margin-top: 20px;
          display: block;
        }
      }

      
  }
}
