.user-pane{
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'top'
    'main-container';

    .main-container{
        grid-area: main-container;
        display: flex;
        justify-content: space-between;

      .left-half {
        // grid-area: left-half;
      }

      .right-half{
        // position: fixed;

        .map-container{
          width: 500px;
          height: 500px;



        }
      }
    }

    .top {
      grid-area: top;


      .spots-header{
        // grid-area: spots-header;
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        // align-items: center;
        // padding: 3rem;
        // position: relative;
        width: 100%;
        margin-left: 50px;
        min-height: 100%;

        .photo{
          opacity: 0;
          animation-name: photo;
          animation-duration: 1s;
          animation-delay: 1s;
          animation-fill-mode: forwards;
          transition-property: transform;
          transition-duration: 1s;

        }

        @keyframes photo {
          0% {opacity: 0}
          100% {opacity: 1}
        }

        .left-photo{
          min-height: 100%;
        }

        .right-photo{
          min-height: 100%
        }






        // h1{
        //   font-size: 28px;
        //   color: rgb(72, 72, 72);
        //   margin-bottom: 20px;
        // }
        //
        img{
          max-width: 90%;
          height: 500px;
          margin-top: 20px;
          // margin-bottom: 30px;
        }
        //
        // h2{
        //   font-size: 22px;
        //   color: grey;
        // }
      }

      .mid-trans{
        // height: 100px;
        grid-area: spots-container;
        display: flex;
        justify-content: space-between;


        h1{
          font-size: 50px;
          // line-height: 1.3;
          color: #75D1FF;

        }

        h2{
          font-size: 40px;
          color: #1966FF;
        }

        h3{
          font-size: 40px;
          color: #75D1FF;
        }
        .left-trans{
          line-height: 1.4;
        }

        .right-trans{
          line-height: 1;
          text-align: center;
        }

        .left-trans h1{
          position: relative;
          animation: heading;
          animation-delay: 1s;
          opacity: 0;
          animation-duration: 3s;
          animation-fill-mode: forwards;

        }

        @keyframes heading {
          0%   {left: -1000px; opacity: 0;}
          100% {left: 100px; opacity: 1;}
        }

        .left-trans h2{
          position: relative;
          animation: heading1;
          opacity: 0;
          animation-delay: 3s;
          animation-duration: 3s;
          animation-fill-mode: forwards;
          transition-property: transform;
        }

        @keyframes heading1 {
          0%   {right: -2000px; opacity: 0;}
          100% {right: -100px; opacity: 1;}
        }

        .right-trans h1{
          position: relative;
          animation: heading2;
          opacity: 0;
          animation-delay: 5s;
          animation-duration: 3s;
          animation-fill-mode: forwards;
          transition-property: transform;
          margin-bottom: 5px;
        }

        @keyframes heading2 {
          0%   {bottom: -500px; right: 100px; opacity: 0;}
          100% {bottom: 0; right: 100px; opacity: 1;}
        }

        .right-trans h2{
          position: relative;
          animation: heading3;
          opacity: 0;
          animation-delay: 8s;
          animation-duration: 3s;
          animation-fill-mode: forwards;
          transition-property: transform;
        }

        @keyframes heading3 {
          0%   {opacity: 0; right: 100px;}
          100% {opacity: 1; right: 100px;}
        }

      }
  }
}

.map-container{

}
