// Place all the styles related to the api/spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-spot-show {
  margin-top: 0;
  width: 95%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;


  .main-container {
    display: flex;
    justify-content: space-between;
  }

  .single-spot-header {
    width: 60%;
    // min-height: 700px;
    height: 70%;
    margin-top: 50px;
    box-shadow: $shadow;
    margin-bottom: 80px;

    img {
      // max-width: 100%;
      max-height: 100%;
    }
  }

  .container-spot-show {
    width: 60%;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: $shadow;

    .detail-container {
      display: flex;
      justify-content: space-between;

      .spot-top {
        width: 45%;

        h1{
          font-family: $roboto_con;
          font-size: 28px;
        }
      }

      .user-profile {
        width: 40%;
        text-align: center;

        h1{
          font-size: 24px;
          font-weight: 800;
          color: grey;
          padding: 10px;
        }

        img {
          padding: 10px;
        }

        h2{
          margin-top: 20px;
          font-size: 18px;
          font-weight: 700;
          color: black;
        }
      }
    }

    .home-highlights{
      padding: 2rem;
      box-shadow: $shadow;
      margin-top: 20px;
      text-align: center;

      h1{
        color: $dark;
        font-size: 24px;
        font-weight: 800;
      }

      p{
        font-family: $serif;
        font-size: 16px;
        font-size: 24px;
      }
    }
  }

  @media(max-width: 1100px)  {
    .booking-form-container {
      display: none;
    }
  }
}
