.top-container {

  .spots-container{
    // grid-area: spots-container;
    // text-align: center;

    h1 {
      font-size: 22px;
      font-weight: 800;
      margin-bottom: 20px;
    }

    

    .spot-location{
      font-family: $roboto;
      font-size: 16px;
      color: rgb(72, 72, 72);
      margin-top: 20px;
      margin-bottom: 5px;
      font-weight: 800;
    }

    // .spot-title{
    //   font-size: 16px;
    //   line-height: 22px;
    //   letter-spacing: normal;
    //   font-family: $roboto;
    //   color: rgb(72, 72, 72);
    //   font-weight: 800;
    //   margin-bottom: 15px;
    // }

    .spot-price{
      font-size: 14px;
      font-weight: normal;
      font-family: $roboto;
      color: rgb(72, 72, 72);

    }

    ul {
      // margin: auto;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 80px;
      margin-right: 15px;

      li {
        // padding: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
          img {
            width: 100%;
            height: 165px;
            object-fit: cover;

          }
          .host-img{
            display: flex;
            justify-content: center;
            height: 20px;
            // padding: 5px;
            
          }

          .host-img img{
            top: -40px;
            border-radius: 50%;
            width: 75px;
            height: 75px;
            object-fit: cover;
            position: relative;
          }

          .listing-buttons{
            display: flex;
            justify-content: space-between;
            position: relative;
            bottom: 0;
          }

          button{

            background-color: #333;
            color: #fff;
            font-size: 12px;
            padding: 6px;
            box-shadow: $shadow;
          }

      }

    }
  }
}
