.top-container {
  

  .spots-container{
    grid-area: spots-container;
    // margin-top: 200px;
    text-align: center;

    h1{
      font-size: 50px;
      color: rgb(72, 72, 72);
      font-weight: 900;
      margin-bottom: 100px;
      animation: heading4;
      opacity: 0;
      animation-delay: 10s;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      transition-property: transform;
    }

    @keyframes heading4 {
      0%   {opacity: 0;}
      100% {opacity: 1;}
    }

    .spots-index-item{
      box-shadow: $shadow;
      border: 1px solid grey;
      padding: 20px;


      li a:hover{
        box-shadow: 1px 3px 12px rgba(0,0,0,0.75);
        transition: all 0.3s ease;

      }
    }

    .spot-location{
      font-family: $roboto;
      font-size: 23px;
      // color: rgb(166, 29, 85);
      color: rgb(57, 87, 106);
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 700;
    }

    .spot-title{
      // word-wrap: break-word;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: normal;
      font-family: $roboto;
      color: rgb(72, 72, 72);
      font-weight: 800;
      margin-bottom: 15px;
    }

    .spot-price{
      font-size: 14px;
      font-weight: 500;
      font-family: $do_hye;
      color: grey;
    }






    ul {
      width: 80%;
      margin: auto;
      display: grid;
      grid-gap: 30px;
      // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 80px;

      li {
        padding: 0.8rem;
        // background: lightgrey;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
          img {
            width: 100%;
            height: 200px;
            // width: 100%;
            box-shadow: $shadow;

          }
          .host-img{
            display: flex;
            justify-content: center;
            height: 50px;
            padding: 5px;
          }

          .host-img img{
            top: -40px;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            position: relative;



          }

          .listing-buttons{
            display: flex;
            justify-content: space-between;
            // padding: 10px;
            position: relative;
            bottom: 0;

          }

          button{

            background-color: #333;
            color: #fff;
            padding: 2px;
            box-shadow: $shadow;
            // border-radius: 25% 25%;
          }

      }

    }
  }
}
