.booking-form {
  position: sticky;
  // display: grid;

  grid-gap: 0;
  top: 150px;
  // right: 5%;
  width: 400px;
  // height: auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #000;

  span {
    padding: 10px;
    font-family: $playfair;
    font-size: 20px;

  }

  h1 {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 10px;
    font-weight: 300;
    font-family: $playfair;
  }

  .input {
    margin: 0 0 30px 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;

    label {
      font-family: $open-sans;
      padding: 10px;
    }


    input {
      border: 1px solid #ccc;
      padding: 10px;
      width: 100%;
    }
  }

  .form-submit {
    margin: 0 0 30px 0;
  }

  .submit-button {
    background: rgb(255, 90, 95);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 30px;
  }
}