.review-container{
  padding: 20px;
  display: grid;
  max-width: 60%;
  margin-top: 50px;
  margin-bottom: 500px;
  justify-items: center;

  h1{
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 10px;
    font-weight: 300;
    font-family: $playfair;
  }

  .review-form{
    background: white;
    display: grid;
    grid-gap: 10px;
    width: 80%;
    top: 150px;
    right: 10%;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;

    .review-rating{
      display: flex;
      justify-content: flex-start;
    }

    .input {
      margin: 0 0 30px 0;
      border: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      padding: 5px 20px;
    }

    .form-submit{
      margin: 0 0 30px 0;
    }

    .submit-button{
      background: blue;
      color: white;
      width: 100%;
      text-align: center;
      padding: 10px 20px;
      margin-bottom: 30px;
    }

  }
}
