.login-form-container {
  display: block;

  .login-form-box {
    position: relative;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;

    h1 {
      // font-size: 26px;
      // line-height: 1;
      // font-weight: 300;
    }

    .input {
      // margin: 0 0 30px 0;
      // border: 1px solid #ccc;
      // display: flex;
      // justify-content: space-between;
      // padding: 5px 20px;
    }

    .input:hover,
    .input:focus {
      // box-shadow: $shadow;
    }

    .input:first-of-type {
      // margin-top: 40px;
    }
  }

  .form-submit input[type='submit'] {
    margin-bottom: 10px;
    // margin: 0 0 30px 0;

  }

  .submit-button {
    // background: rgb(255, 90, 95);
    // color: white;
    // width: 100%;
    // text-align: center;
    // padding: 10px 20px;
    // margin-bottom: 30px;
  }

  .switch-button {
    color: rgb(0, 132, 137);
    font: inherit;
    text-align: left;
    text-decoration: none;

  }

  .form1 {
    display: flex;
    justify-content: space-between;
    width: 100%;

    a {
      color: rgb(0, 132, 137);
    }
  }

  .fa-window-close {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 17px;
    line-height: 1;
    cursor: pointer;
  }

  .fa-window-close:hover {
    box-shadow: $shadow;
  }
}

.hide {
  display: none;

}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.session-errors li {
  color: red;
  padding: 5px;

}